<form class="delete-form" method="post" action="/deleteItem?_method=DELETE" >
    <input type="checkbox" class="delete-button" name="checkbox" value="<%= itemId %>" onchange="this.form.submit()">
    <span class="item-name"><%= name %></span> 
</form>