@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    margin: 0;
    text-align: center;
    line-height: 2;

}

h1 {
    width: 50%;
   margin: 0 auto;
   font-family: 'Dancing Script', cursive;
   letter-spacing:5px;
   font-size: 4.625rem;
   color: #66BFBF;
}
h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    
}

h3 {
    color: #11999E;
    font-family: 'Rubik', sans-serif;
}

a {
    color:#11999E;
}

p{
    font-family: 'Open Sans', sans-serif;
}

hr{
    margin-top: 60px;
    width:55px;
    border:6px;
    border-style: dotted none none none;
    color: #EAF6F6;

}

.pro{
    text-decoration: underline;
}




.top-containter {
    background-color:#EAF6F6;
    position: relative;
    text-align: center;
    padding-top: 200px;
    

}

.middle-container {
  text-align: center;
  

}

.bottom-container {
    background-color: #66BFBF;
    height: 150px;
    padding-top: 40px;
   
}

.top-cloud {
   position: absolute;
    right:300px;
    top:50px;
    
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom:300px;
  
}


.mountain {
  margin-bottom:-3px;
}

.contact-me {
    line-height: 2;
    font-weight: bold;
   
}


.profile-pic {
    margin-top: 20px;
    width: 20%;
    border-radius: 50%;
    
    
}





.skill-row {
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
    line-height: 2;
}

.guitar-img {
  width: 25%;
  float: left;
  margin-right: 10px;
    
}

.creative-img {
    width: 25%;
    float: right;
    margin-left: 10px ;
    
   
}

.introduction{
    color: #40514E;
    width: 30%;
    margin: 0 auto;
}



.dogs {
font-weight: bold;
}

.BUTTON_LZQ {
    margin: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    background-color: #66BFBF;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 10%;
 }

 .footer-name {
     color: #EAF6F6;
 }

 .footer-link {
     text-decoration: none;
     font-weight:bolder;
     font-family: 'Rubik', sans-serif;
     margin-left: 10px;



 }