<%- include('partials/header'); -%>
<h1>
  Compose
</h1>


<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
          <p class="alert alert-warning" role="alert">
            <%= error.msg %>
          </p>
    <% }) %>
<% } %>

<form action="/compose" method="post">
    <div class="mb-3">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title">
    </div>
    
    <div class="mb-3">
        <label for="post">Post</label>
        <textarea class="form-control" name="postBody" id="post" cols="30" rows="10"></textarea>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-primary " type="submit">Publish</button>
    </div>
</form>

<%- include('partials/footer'); -%>